<style>
  /*   modal window */
  
  .modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

.modal-header {
  padding: 20px 40px;
  background: rgb(225, 162, 26);
  color: #ffffff;
}


/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

</style>

{% assign image = section.settings.image %}
{% assign image_mobile = section.settings.image_mobile %}
{% assign has_cta = false %}
{% assign has_link_wrapper = false %}
{% assign has_cta_2 = false %}
{% assign has_link_wrapper_2 = false %}

{%- if section.settings.title != blank or section.settings.caption != blank -%}
  {% assign has_content = true %}
{%- endif -%}

{%- if section.settings.button_text != blank and section.settings.button_link != blank -%}
  {% assign has_cta = true %}
  {% assign has_content = true %}
{%- endif -%}

{%- if section.settings.button_text_2 != blank and section.settings.button_link_2 != blank -%}
  {% assign has_cta_2 = true %}
  {% assign has_content_2 = true %}
{%- endif -%}


{%- if section.settings.button_text == blank and section.settings.button_link != blank -%}
  {% assign has_link_wrapper = true %}
{%- endif -%}

{% if image != blank %}
  {% assign image_size = '2048x2048' %}
  {% assign background_image = image | img_url: image_size %}
  {% assign background_image_mobile = image_mobile | img_url: image_size %}
  {%- capture feature_image -%}
    <img
      class="feature-image"
      alt="{{ image.alt | escape }}"
      src="{{ image | img_url: image_size }}">
  {%- endcapture -%}
{% else %}
  {%- capture background_image -%}
    {%- include 'placeholder_svg_uri' placeholder: 'lifestyle-1' -%}
  {%- endcapture -%}
  {%- capture feature_image -%}
    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg feature-image' }}
  {%- endcapture -%}
{% endif %}

{%- capture section_class -%}
  {{ section.settings.style }}
  full-width-background

  {% unless has_content %}no-content{% endunless %}
{%- endcapture -%}

<style>

  @media only screen and (min-width: 768px) {
    .style{{ section.id }}{
      	background-image: url(//cdn.shopify.com/s/files/1/2021/3861/files/2aa57a2fa53188aa2551411cb5aa53bb.jpg?10076049183537049632);
    }
  }
  @media only screen and (max-width: 767px) {
    .style{{ section.id }}{
      	background-image: url(//cdn.shopify.com/s/files/1/2021/3861/files/2aa57a2fa53188aa2551411cb5aa53bb.jpg?10076049183537049632); 
        height:150vw;
    }
  }
  

  
  
</style>

{%- capture feature_styles -%}
color: {{ section.settings.text_color }};
{%- endcapture -%}

<section
         class="module-container home-full-width-feature {{ section_class | strip_newlines }} style{{ section.id }}"
         data-section-id="{{ section.id }}"
         data-section-type="image-with-text-overlay"
         data-image-with-text-layout="background"
         >
  
  {% if has_link_wrapper %}
  <a class="home-full-width-feature-link-wrapper" href="{{ section.settings.button_link }}"></a>
  {% endif %}

  {{ feature_image | strip }}


  <!--   position center -->
  {% if  section.settings.text_position  == "center" %}
  {% if has_content %}
  <div class="home-full-width-feature-content" data-feature-content>
    <article class="module-inner" >
      {% if section.settings.title != blank %}
      <h1 class="feature-title" style="{{feature_styles | strip_newlines }}">{{ section.settings.title | escape }}</h1>
      {% endif %}

      {% if section.settings.caption != blank %}
      <p class="text-caption" style="{{feature_styles | strip_newlines }}">{{ section.settings.caption }}</p>
      {% endif %}


      <div class="home-module-cta" >
        <a href="#" class="modal-trigger button" data-modal="modal-name">EXPLORE THE LIST</a> <!-- Trigger Modal. --> 
        {% if has_cta_2 %}
        <a class="button" href="{{ section.settings.button_link_2 }}">{{section.settings.button_text_2 | escape }}</a>
        {% endif %}
      </div>

    </article>
  </div>
  {% endif %}
  {% endif %}

</section>


<!-- Modal -->
<div class="modal" id="modal-name">
  <div class="modal-sandbox"></div>
  <div class="modal-box">
    <div class="modal-header">
      <div class="close-modal">&#10006;</div> 
    </div>
    <div class="modal-body">
      

      <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
      
      <form action="https://app.convertkit.com/forms/708982/subscriptions" class="seva-form" method="post" data-sv-form="708982" data-uid="6e45af3007" data-format="inline" data-version="5" data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;success_message&quot;:&quot;Thank you. The song list will be sent your email shortly.&quot;,&quot;redirect_url&quot;:&quot;&quot;},&quot;modal&quot;:{&quot;trigger&quot;:null,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:null,&quot;devices&quot;:null,&quot;show_once_every&quot;:null},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;}}}" style="background-color: rgb(255, 255, 255); border-radius: 6px;"><div data-style="full"><div data-element="column" style="background-color: rgb(43, 56, 77); background-image: url(&quot;https://083950260099-attachments.s3.us-east-2.amazonaws.com/uploads/64876/81080a58-e262-44c8-909e-db4c26b809b9/apartment-chair-contemporary-509922.jpg&quot;);">
        <h1 data-element="header" style="color: rgb(0, 0, 0); font-size: 18px; font-weight: 700;">
          <div align="center" >Get Your Populele Song List </div>
          <br>
          <div align="center" > Download Now</div>
        </h1>
        </div><div data-element="column"><ul data-element="errors" data-group="alert"></ul><div data-element="fields"><input name="first_name" placeholder="Your name" type="Input" style="border-color: rgb(227, 227, 227); border-radius: 4px; color: rgb(0, 0, 0); font-weight: 400;"><input name="email_address" placeholder="Your email address" required="" type="email" style="border-color: rgb(227, 227, 227); border-radius: 4px; color: rgb(0, 0, 0); font-weight: 400;"><button data-element="submit" style="background-color: rgb(225, 162, 26); border-radius: 24px; color: rgb(255, 255, 255); font-weight: 700;"><span>Download</span></button></div></div></div><style>.seva-form[data-uid="6e45af3007"] *{font-family:"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;box-sizing:border-box;}.seva-form[data-uid="6e45af3007"] legend{border:none;font-size:inherit;margin-bottom:10px;padding:0;display:table;}.seva-form[data-uid="6e45af3007"] fieldset{border:0;padding:0.01em 0 0 0;margin:0;min-width:0;}.seva-form[data-uid="6e45af3007"] body:not(:-moz-handler-blocked) fieldset{display:table-cell;}.seva-form[data-uid="6e45af3007"] p{color:inherit;font-size:inherit;font-weight:inherit;}.seva-form[data-uid="6e45af3007"][data-format="modal"]{display:none;}.seva-form[data-uid="6e45af3007"] [data-element="submit"]{border:0;border-radius:5px;color:#ffffff;font-size:15px;font-weight:500;cursor:pointer;margin-bottom:15px;overflow:hidden;padding:0;}.seva-form[data-uid="6e45af3007"] [data-element="submit"]:hover,.seva-form[data-uid="6e45af3007"] [data-element="submit"]:focus{outline:none;}.seva-form[data-uid="6e45af3007"] [data-element="submit"]:hover > span,.seva-form[data-uid="6e45af3007"] [data-element="submit"]:focus > span{background-color:rgba(0,0,0,0.1);}.seva-form[data-uid="6e45af3007"] [data-element="submit"] > span{display:block;-webkit-transition:background-color 300ms ease-in-out;transition:background-color 300ms ease-in-out;padding:12px 24px;}.seva-form[data-uid="6e45af3007"] input{font-size:15px;padding:12px;border:1px solid #e3e3e3;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;line-height:1.4;margin-right:15px;-webkit-transition:border-color ease-out 300ms;transition:border-color ease-out 300ms;}.seva-form[data-uid="6e45af3007"] input:focus{outline:none;border-color:#1677be;-webkit-transition:border-color ease 300ms;transition:border-color ease 300ms;}.seva-form[data-uid="6e45af3007"] input::-webkit-input-placeholder{color:#848585;}.seva-form[data-uid="6e45af3007"] input::-moz-placeholder{color:#848585;}.seva-form[data-uid="6e45af3007"] input:-ms-input-placeholder{color:#848585;}.seva-form[data-uid="6e45af3007"] input::placeholder{color:#848585;}.seva-form[data-uid="6e45af3007"] [data-group="dropdown"]{position:relative;display:inline-block;width:100%;margin-bottom:15px;}.seva-form[data-uid="6e45af3007"] [data-group="dropdown"]::before{content:"";top:calc(50% - 2.5px);right:10px;position:absolute;pointer-events:none;border-color:#333333 transparent transparent transparent;border-style:solid;border-width:6px 5px 0 5px;height:0;width:0;}.seva-form[data-uid="6e45af3007"] [data-group="dropdown"] select{height:auto;width:100%;cursor:pointer;color:#333333;line-height:1.4;margin-bottom:0;padding:0 6px;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:15px;padding:12px;padding-right:25px;border:1px solid #e3e3e3;background:#ffffff;}.seva-form[data-uid="6e45af3007"] [data-group="dropdown"] select:focus{outline:none;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"]{text-align:left;margin-bottom:20px;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"]{margin-bottom:10px;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] *{cursor:pointer;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"]:last-of-type{margin-bottom:0;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] input[type="checkbox"]{display:none;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] input[type="checkbox"] + label::after{content:none;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] input[type="checkbox"]:checked + label::after{border-color:#ffffff;content:"";}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] input[type="checkbox"]:checked + label::before{background:#10bf7a;border-color:#10bf7a;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label{position:relative;display:inline-block;padding-left:28px;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label::before,.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label::after{position:absolute;content:"";display:inline-block;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label::before{height:16px;width:16px;border:1px solid #e3e3e3;background:#ffffff;left:0px;top:3px;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label::after{height:4px;width:8px;border-left:2px solid #4d4d4d;border-bottom:2px solid #4d4d4d;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);left:4px;top:8px;}.seva-form[data-uid="6e45af3007"] [data-group="alert"]{padding:12px;border:1px solid #e3e3e3;background:#f9fafb;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;border-radius:5px;margin:25px auto;text-align:center;width:80%;}.seva-form[data-uid="6e45af3007"] [data-group="alert"]:empty{display:none;}.seva-form[data-uid="6e45af3007"] [data-group="alert"][data-element="success"]{background:#d3fbeb;border-color:#10bf7a;color:#0c905c;}.seva-form[data-uid="6e45af3007"] [data-group="alert"][data-element="errors"]{background:#fde8e2;border-color:#f2643b;color:#ea4110;} .seva-form[data-uid="6e45af3007"]{box-shadow:0 2px 15px 0 rgba(210,214,220,0.5);max-width: 100%;overflow:hidden;}.seva-form[data-uid="6e45af3007"] [data-style="full"]{width:100%;display:grid;grid-template-columns:repeat(auto-fit,minmax(300px,1fr));}.seva-form[data-uid="6e45af3007"] [data-style="full"] [data-element="errors"]{width:100%;}.seva-form[data-uid="6e45af3007"] [data-element="header"]{margin-top:0;margin-bottom:27px;}.seva-form[data-uid="6e45af3007"] [data-element="subheader"]{margin:18px 0;}.seva-form[data-uid="6e45af3007"] [data-element="guarantee"]{font-size:13px;}.seva-form[data-uid="6e45af3007"] [data-element="fields"] > *{margin:0 0 15px 0;}.seva-form[data-uid="6e45af3007"] [data-element="fields"] > input{width:100%;}.seva-form[data-uid="6e45af3007"] [data-element="powered-by"]{color:#7d7d7d;display:block;font-size:12px;margin-bottom:0;}.seva-form[data-uid="6e45af3007"] [data-element="powered-by"][data-active="false"]{opacity:0.5;}.seva-form[data-uid="6e45af3007"] [data-element="column"]{background-size:cover;background-repeat:no-repeat;background-position:center;padding:40px;}.seva-form[data-uid="6e45af3007"] [data-element="column"]:nth-child(2){border-top:1px solid #e9ecef;}.seva-form[data-uid="6e45af3007"] [data-element="submit"]{width:100%;}.seva-form[data-uid="6e45af3007"][min-width~="600"] [data-style="full"] [data-element="submit"],.seva-form[data-uid="6e45af3007"][min-width~="700"] [data-style="full"] [data-element="submit"],.seva-form[data-uid="6e45af3007"][min-width~="800"] [data-style="full"] [data-element="submit"]{width:auto;}.seva-form[data-uid="6e45af3007"][min-width~="600"] [data-style="full"] [data-element="column"]:nth-child(2),.seva-form[data-uid="6e45af3007"][min-width~="700"] [data-style="full"] [data-element="column"]:nth-child(2),.seva-form[data-uid="6e45af3007"][min-width~="800"] [data-style="full"] [data-element="column"]:nth-child(2){border-top:none;} </style>
      </form>


    </div>
  </div>
</div>


{% schema %}
{
  "name": "song lib",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "default-style",
          "label": "Default"
        },
        {
          "value": "accent-style",
          "label": "Accent"
        },
        {
          "value": "contrast-style",
          "label": "Contrast"
        }
      ],
      "default": "default-style"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text and button position",
      "options": [
          {
          "value": "center",
          "label": "center"
          }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text overlay"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Text",
      "default": "<p>Select imagery and text that relates to your style and story.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button text 2"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Link URL 2"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "range",
      "id": "overlay_opacity_strength",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 90
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "song library"
    }
  ]
}

{% endschema %}