<link rel='stylesheet prefetch' href='//cdn.shopify.com/s/files/1/2021/3861/files/bootstrap3.3.5.css?15001574801078050870'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'> -->



<style> 
  .carousel-inner > .item.active {
    left:60px;
    right:60px;
  }
  .fancyTab {
    text-align: center;
    padding:8px 0;
    background-color: #eee;
    box-shadow: 0 0 0 1px #ddd;
    top:15px;	
    transition: top .2s;
  }

  .fancyTab.active {
    top:0;
    transition:top .2s;
  }

  .whiteBlock {
    display:none;
  }

  .fancyTab.active .whiteBlock {
    display:block;
    height:2px;
    bottom:-2px;
    background-color:#fff;
    width:99%;
    position:absolute;
    z-index:1;
  }

  .fancyTab a {
    font-family: open sans;
    font-size:1.65em;
    font-weight:300;
    transition:.2s;
    color:#333;
  }

  .fancyTab .hidden-xs {
    white-space:nowrap;
  }

  .fancyTabs {
    border-bottom:2px solid #ddd;
    margin: 0px 0 0;
  }

  li.fancyTab a {
    padding-top: 15px;
    top:-15px;
    padding-bottom:0;
  }

  li.fancyTab.active a {
    padding-top: inherit;
  }

  .fancyTab .fa {
    font-size: 30px;
    width:100%;
    padding: 0px 0 5px;
    color:#666;
  }

  .fancyTab.active .fa {
    color: #cfb87c;
  }

  .fancyTab a:focus {
    outline:none;
  }

  .fancyTabContent {
    border-color: transparent;
    box-shadow: 0 -2px 0 -1px #fff, 0 0 0 0px #ddd;
    padding: 0px 15px 0px;
    position:relative;
    background-color:#fff;
  }

  .nav-tabs > li.fancyTab.active > a, 
  .nav-tabs > li.fancyTab.active > a:focus,
  .nav-tabs > li.fancyTab.active > a:hover {
    border-width:0;
  }

  .nav-tabs > li.fancyTab:hover {
    background-color:#f9f9f9;
    box-shadow: 0 0 0 1px #ddd;
  }

  .nav-tabs > li.fancyTab.active:hover {
    background-color:#fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
  }

  .nav-tabs > li.fancyTab:hover a {
    border-color:transparent;
  }

  .nav.nav-tabs .fancyTab a[data-toggle="tab"] {
    background-color:transparent;
    border-bottom:0;
  }

  .nav-tabs > li.fancyTab:hover a {
    border-right: 1px solid transparent;
  }

  .nav-tabs > li.fancyTab > a {
    margin-right:0;
    border-top:0;
    padding-bottom: 8px;
    margin-bottom: -20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .nav-tabs > li.fancyTab {
    margin-right:0;
    margin-bottom:0;
  }

  .nav-tabs > li.fancyTab:last-child a {
    border-right: 1px solid transparent;
  }

  .nav-tabs > li.fancyTab.active:last-child {
    border-right: 0px solid #ddd;
    box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;
  }

  .fancyTab:last-child {
    box-shadow: 0 0 0 1px #ddd;
  }

  .tabs .nav-tabs li.fancyTab.active a {
    box-shadow:none;
    top:0;
  }


  .fancyTab.active {
    background: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
    padding-bottom:30px;
  }

  .arrow-down {
    display:none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #ddd;
    position: absolute;
    top: -1px;
    left: calc(50% - 20px);
  }

  .arrow-down-inner {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top: -22px;
    left: -18px;
  }

  .fancyTab.active .arrow-down {
    display: block;
  }

  @media (min-width: 1201px) {

    .fancyTab .fa {
      font-size: 28px;
    }

    .fancyTab .hidden-xs {
      font-size:20px;
    }

  }


  @media (max-width: 1200px) {

    .fancyTab .fa {
      font-size: 24px;
    }

    .fancyTab .hidden-xs {
      font-size:20px;
    }

  }

  @media (max-width: 768px) {

    .fancyTab .fa {
      font-size: 20px;
    }

    .fancyTab .hidden-xs {
      font-size:14px;
    }

  }

  /* reviews */


  .reviews{
    padding: 15px;
    max-width: 768px;
    margin: 0 auto;
  }

  .review-item{
    background-color: white;
    padding: 15px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px #343a40;
  }

  .review-item .review-date{
    color: #cecece;
  }
  .review-item .review-text{
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    color: #343a40;
  }

  .review-item .reviewer{
    width: 100px;
    height: 60px;
    border: 1px solid #cecece;
  }

  /****Rating Stars***/
  .raterater-bg-layer {
    color: rgba( 0, 0, 0, 0.25 );
  }
  .raterater-hover-layer {
    color: rgba( 255, 255, 0, 0.75 );
  }
  .raterater-hover-layer.rated { /* after the user selects a rating */
    color: rgba( 255, 255, 0, 1 );
  }
  .raterater-rating-layer {
    color: rgba( 255, 155, 0, 0.75 );
  }
  .raterater-outline-layer {
    color: rgba( 0, 0, 0, 0.25 );
  }

  /* don't change these - you might break something.. */
  .raterater-wrapper {
    overflow:visible;
  }

  .software .raterater-wrapper {
    margin-top: 4px;
  }

  .raterater-layer,
  .raterater-layer i {
    display: block;
    position: absolute;
    overflow: visible;
    top: 0px;
    left: 0px;
  }
  .raterater-hover-layer {
    display: none;
  }
  .raterater-hover-layer i,
  .raterater-rating-layer i {
    width: 0px;
    overflow: hidden;
  }


/*   table */
 
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }


  
  @media only screen and (max-width: 719px) {
    .hide-mobile {
      display:none;
  	}
  }
  @media only screen and (min-width: 720px) {
    .hide-desktop {
      display:none;
  	}
  }
    
  @media only screen and (max-width: 719px) {
    .dynamic-font {
      font-size: 12px;
  	}
  }
  @media only screen and (min-width: 720px) {
    .dynamic-font {
      font-size: 14px;
  	}
  }
  
  .morecontent span {
    display: none;
  }
  
  

  #dribbblers-wrap{background:#fff}

  #dribbblers-wrap-inner{padding:30px 30px 40px 30px;width:100%;box-sizing:border-box}
  
  @media only screen and (max-width: 767px){
    #dribbblers-wrap-inner{padding:0;}
  }


  #dribbblers-content{position:relative;margin:0 auto;padding:0;font-size:14px}


  ol.dribbblers-testimonials li blockquote{margin:0 0 0 0; padding: 0;}


  ol.dribbblers-testimonials li blockquote p.quote{position:relative;padding:20px 80px; font-size:{{section.settings.reviewFontSize}}px;line-height:1.3;color:#444;background:#f4f4f4;text-indent:-8px;border-radius:10px; margin-bottom:35px;}


  ol.dribbblers-testimonials li blockquote p.quote:after{top:100%;left:80px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(255,255,255,0);border-top-color:#f4f4f4;border-width:30px}

  @media only screen and (max-width: 767px){
    ol.dribbblers-testimonials li blockquote p.quote{font-size:18px;padding:10px 30px;text-indent:-8px}
  }


  ol.dribbblers-testimonials li blockquote div.author {text-align:center; width:35%;margin:36px 0 0 0px;font-size:16px;font-weight:500;line-height:1;color:#444}

  @media only screen and (max-width: 767px){
    ol.dribbblers-testimonials li blockquote div.author{text-align:left; font-size:16px; width: 40%;margin:36px 0 0 40px}
  }

  ol.dribbblers-testimonials li:nth-child(2n) blockquote p.quote:after{left:auto;right:50px}

  ol.dribbblers-testimonials li:nth-child(2n) blockquote div.author{margin-left:62%;margin-right:40px;text-align:center}

 
  .avatar-position{left: 20%;}
 
  .review_icon{max-width: inherit; margin-right:15px; margin-left:15px;}
  
  @media only screen and (max-width: 767px){
      .avatar-position{left: 0%;}
      .review_icon{margin-left:0px;}
      ol.dribbblers-testimonials li:nth-child(2n) blockquote div.author{text-align:left;}
  }
</style>


<style>
  /*   modal window */
  
  .modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

.modal-header {
  padding: 20px 40px;
  background: rgb(225, 162, 26);
  color: #ffffff;
}


/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

</style>



<div> 
  <section id="fancyTabWidget" class="tabs t-tabs">
    <ul class="nav nav-tabs fancyTabs" role="tablist">
      
      <li class="tab fancyTab " >
        <div class="arrow-down"><div class="arrow-down-inner"></div></div>
        <a id="tab3" href="#tabBody0" role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0">
          <strong class="dynamic-font" style="margin: 0;">FEATURES</strong></a>
        <div class="whiteBlock"></div>
      </li> 
      <li class="remove-me tab fancyTab">
        <div class="arrow-down"><div class="arrow-down-inner"></div></div>	
        <a id="tab0" href="#tabBody1" role="tab" aria-controls="tabBody1" aria-selected="true" data-toggle="tab" tabindex="0"><strong class="dynamic-font" style="margin: 0;">SPECIFICATION</strong></a>
        <div class="whiteBlock"></div>
      </li>

      <li class="tab fancyTab active">
        <div class="arrow-down"><div class="arrow-down-inner"></div></div>
        <a id="tab1" href="#tabBody2" role="tab" aria-controls="tabBody2" aria-selected="true" data-toggle="tab" tabindex="0"><strong class="dynamic-font" style="margin: 0;"> PACKAGE </strong></a>
        <div class="whiteBlock"></div>
      </li>

      <li class="tab fancyTab">
        <div class="arrow-down"><div class="arrow-down-inner"></div></div>
        <a id="tab2" href="#tabBody3" role="tab" aria-controls="tabBody3" aria-selected="true" data-toggle="tab" tabindex="0"><strong class="dynamic-font" style="margin: 0;">REVIEWS</strong></a>
        <div class="whiteBlock"></div>
      </li>

      <li class="tab fancyTab">
        <div class="arrow-down"><div class="arrow-down-inner"></div></div>
        <a id="tab3" href="#tabBody4" role="tab" aria-controls="tabBody4" aria-selected="true" data-toggle="tab" tabindex="0"><strong class="dynamic-font" style="margin: 0;">FAQ</strong></a>
        <div class="whiteBlock"></div>
      </li> 
    </ul>
    
     {% assign price = selected_variant.price %}
     {% assign t1 = selected_variant %}
     {% assign t2 = selected_variant.title %}
     {% assign t3 = selected_variant.id %}
    
    <div id="myTabContent" class="tab-content fancyTabContent" aria-live="polite">
  
      <div class="tab-pane  fade" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
        <div>
          <div class="row">
			<br>
            <div class="col-md-12">
              <div class="hide-mobile row" style="padding-left:8%;">   
               
                {% for block in section.blocks %}
                	{% if block.type == 'icon' %}		
                          <div  class="col-md-4 col-sm-6 col-xs-6">
                            <p align="left"> <img src="{{ block.settings.avatar | img_url: '40x40' }}" height="40" width="40"> &nbsp;&nbsp; <span> {{block.settings.avatar_text | escape }} </span></p>
                          </div> 
                		{% endif %}
                {% endfor %} 
              </div>
              
              <div class="hide-desktop row">            
                {% for block in section.blocks %}
                	   {% if block.settings.avatar %}
                          <div  class="col-sm-6 col-xs-6">
                            <p align="center"> <img src="{{ block.settings.avatar | img_url: '40x40' }}" height="40" width="40"></p>
                            <p align="center" style="font-size: 14px;">  {{block.settings.avatar_text | escape }}</p>
                          </div> 
                		{% endif %}
                {% endfor %} 
              </div>
              
              
            </div>

          </div>
        </div>
      </div>
     
      <div class="tab-pane  fade" id="tabBody1" role="tabpanel" aria-labelledby="tab1" aria-hidden="true" tabindex="0">
        <div class="row"> 
        <table id="customers" class="col-md-6 col-sm-6 col-xs-12" style="border: 0px solid #d7dcde;">
          <tr>
            <td> <strong> MODEL  </strong></td>
            <td> POPULELE U1 </td>
          </tr>
          <tr>
            <td> <strong> SIZE  </strong></td>
            <td> Concert: 23 inches (58cm) </td>
          </tr> 
          <tr>
            <td> <strong> STRING </strong></td>
            <td> Italian Aquila </td>
          </tr>
          <tr>
            <td> <strong> SOUND BOARD </strong> </td>
            <td> Premium Spruce</td>
          </tr>

          <tr>
            <td> <strong> NECK  </strong></td>
            <td> Premium European Maple </td>
          </tr>
          <tr>
            <td> <strong> FRET BOARD </strong></td>
            <td> <li>ABS Plastic </li> <li> 72 LED Built-in Lights </li> </td>
          </tr>
        </table>	
                  <table id="customers" class="col-md-6 col-sm-6 col-xs-12" style="border: 0px solid #d7dcde;" >
          <tr>
            <td> <strong> BLUETOOTH  </strong></td>
            <td> 4.0 BLE </td>
          </tr> 
          <tr>
            <td> <strong> BATTERY TYPE </strong></td>
            <td> 800mAh Lithium Battery </td>
          </tr>
          <tr>
            <td> <strong> CHARGING PORT  </strong> </td>
            <td>Micro USB</td>
          </tr>
          <tr>
            <td> <strong> CHARGING TIME </strong> </td>
            <td> 2.5 HR </td>
          </tr>
          <tr>
            <td> <strong> USING TIME </strong></td>
            <td> Up to 10 HR </td>
          </tr>
          <tr>
            <td> <strong> SYSTEM REQUIREMENTS </strong></td>
            <td> <li>Android 4.3 or Higher </li> <li>iOS 8.0 or Higher </li></td>
          </tr> 
        </table>
        </div>
      </div>
     
      <div class="tab-pane  fade  active in" id="tabBody2" role="tabpanel" aria-labelledby="tab2" aria-hidden="false" tabindex="0">
        <div>
          <div class="row">
			<br>
            <div class="col-md-12">
              <div id="description" class="row"> 
       			

              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="tab-pane  fade" id="tabBody3" role="tabpanel" aria-labelledby="tab3" aria-hidden="true" tabindex="0">
        <div class="row">
          <div id="dribbblers-wrap">



            <div id="dribbblers-wrap-inner">
              <div id="dribbblers-content">

                <div>

                  <div>
                    <ol class="dribbblers-testimonials" style="list-style-type: none;">
                      
                      {% for block in section.blocks %}
                         {% if block.type == 'block-2' %}
                 
                          <li><blockquote style="border-left:0;">
                            <p class="quote  more">{{block.settings.review_content}}
                            </p>
                            

                            <div class="row author">
             
                              <div class="col-md-6 col-sm-6 col-xs-12 avatar-position"> <img class="review_icon" src="{{block.settings.avatar_icon | img_url: '40x40' }}"> </div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <p style="margin-bottom:6px; margin-top:4px; text-align:left;"><strong>{{block.settings.review_author}}</strong></p>
                                <p style="font-size:12px; text-align:left;">{{block.settings.date}}</p>
                              </div>
                            </div>
                            
                            
                            
  
                            
<!--                             <p class="author"><img  src="{{block.settings.avatar_icon | img_url: '40x40' }}" > &nbsp;<strong>{{block.settings.review_author}}</strong></p> -->
                            
                            </blockquote>
                            
                      	  </li>

                        {% endif %}
                      {% endfor %}   

                    </ol>
                  </div>
                </div>

              </div>
            </div>
          </div>

          

<!--           <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

          {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}
 -->

        </div>
      </div>

      <div class="tab-pane  fade" id="tabBody4" role="tabpanel" aria-labelledby="tab4" aria-hidden="true" tabindex="0">
        <div class="row">
          <div class="col-md-12">
            <div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Frequently Asked Questions</h3>
                <br>
                <div>

                  <div class="panel-group" id="accordion">
                    {% for block in section.blocks %}
                    	{% if block.type == 'block-3' %}
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 data-toggle="collapse" data-parent="#accordion" href="#trigger{{block.settings.faq_trigger}}" class="panel-title expand">
                                <div class="right-arrow pull-right">+</div>
                                <a href="#"> {{block.settings.faq_question}} </a>
                              </h4>
                            </div>
                            <div id="trigger{{block.settings.faq_trigger}}" class="panel-collapse collapse">
                              <div class="panel-body">{{block.settings.faq_answer}}
									<div id="stamped-review-share"></div>
								
                              </div>
                            </div>
                          </div>
                    	{% endif %}
                    {% endfor %}                   
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>
    
  </section>
  
  
  <!-- Modal -->
  <div class="modal" id="modal-name">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
      <div class="modal-header">
        <div class="close-modal">&#10006;</div> 
      </div>
      <div class="modal-body" style="padding:0px;">

        <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>

        <form action="https://app.convertkit.com/forms/708982/subscriptions" class="seva-form" method="post" data-sv-form="708982" data-uid="6e45af3007" data-format="inline" data-version="5" data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;success_message&quot;:&quot;Thank you. The song list will be sent your email shortly.&quot;,&quot;redirect_url&quot;:&quot;&quot;},&quot;modal&quot;:{&quot;trigger&quot;:null,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:null,&quot;devices&quot;:null,&quot;show_once_every&quot;:null},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;}}}" style="background-color: rgb(255, 255, 255); border-radius: 6px;"><div data-style="full"><div data-element="column" style="background-color: rgb(43, 56, 77); background-image: url(&quot;https://083950260099-attachments.s3.us-east-2.amazonaws.com/uploads/64876/81080a58-e262-44c8-909e-db4c26b809b9/apartment-chair-contemporary-509922.jpg&quot;);">
          <h1 data-element="header" style="color: rgb(0, 0, 0); font-size: 18px; font-weight: 700;">
            <div align="center" >Get Your Populele Song List </div>
            <br>
            <div align="center" > Download Now</div>
          </h1>
          </div><div data-element="column"><ul data-element="errors" data-group="alert"></ul><div data-element="fields"><input name="first_name" placeholder="Your name" type="Input" style="border-color: rgb(227, 227, 227); border-radius: 4px; color: rgb(0, 0, 0); font-weight: 400;"><input name="email_address" placeholder="Your email address" required="" type="email" style="border-color: rgb(227, 227, 227); border-radius: 4px; color: rgb(0, 0, 0); font-weight: 400;"><button data-element="submit" style="background-color: rgb(225, 162, 26); border-radius: 24px; color: rgb(255, 255, 255); font-weight: 700;"><span>Download</span></button></div></div></div><style>.seva-form[data-uid="6e45af3007"] *{font-family:"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;box-sizing:border-box;}.seva-form[data-uid="6e45af3007"] legend{border:none;font-size:inherit;margin-bottom:10px;padding:0;display:table;}.seva-form[data-uid="6e45af3007"] fieldset{border:0;padding:0.01em 0 0 0;margin:0;min-width:0;}.seva-form[data-uid="6e45af3007"] body:not(:-moz-handler-blocked) fieldset{display:table-cell;}.seva-form[data-uid="6e45af3007"] p{color:inherit;font-size:inherit;font-weight:inherit;}.seva-form[data-uid="6e45af3007"][data-format="modal"]{display:none;}.seva-form[data-uid="6e45af3007"] [data-element="submit"]{border:0;border-radius:5px;color:#ffffff;font-size:15px;font-weight:500;cursor:pointer;margin-bottom:15px;overflow:hidden;padding:0;}.seva-form[data-uid="6e45af3007"] [data-element="submit"]:hover,.seva-form[data-uid="6e45af3007"] [data-element="submit"]:focus{outline:none;}.seva-form[data-uid="6e45af3007"] [data-element="submit"]:hover > span,.seva-form[data-uid="6e45af3007"] [data-element="submit"]:focus > span{background-color:rgba(0,0,0,0.1);}.seva-form[data-uid="6e45af3007"] [data-element="submit"] > span{display:block;-webkit-transition:background-color 300ms ease-in-out;transition:background-color 300ms ease-in-out;padding:12px 24px;}.seva-form[data-uid="6e45af3007"] input{font-size:15px;padding:12px;border:1px solid #e3e3e3;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;line-height:1.4;margin-right:15px;-webkit-transition:border-color ease-out 300ms;transition:border-color ease-out 300ms;}.seva-form[data-uid="6e45af3007"] input:focus{outline:none;border-color:#1677be;-webkit-transition:border-color ease 300ms;transition:border-color ease 300ms;}.seva-form[data-uid="6e45af3007"] input::-webkit-input-placeholder{color:#848585;}.seva-form[data-uid="6e45af3007"] input::-moz-placeholder{color:#848585;}.seva-form[data-uid="6e45af3007"] input:-ms-input-placeholder{color:#848585;}.seva-form[data-uid="6e45af3007"] input::placeholder{color:#848585;}.seva-form[data-uid="6e45af3007"] [data-group="dropdown"]{position:relative;display:inline-block;width:100%;margin-bottom:15px;}.seva-form[data-uid="6e45af3007"] [data-group="dropdown"]::before{content:"";top:calc(50% - 2.5px);right:10px;position:absolute;pointer-events:none;border-color:#333333 transparent transparent transparent;border-style:solid;border-width:6px 5px 0 5px;height:0;width:0;}.seva-form[data-uid="6e45af3007"] [data-group="dropdown"] select{height:auto;width:100%;cursor:pointer;color:#333333;line-height:1.4;margin-bottom:0;padding:0 6px;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:15px;padding:12px;padding-right:25px;border:1px solid #e3e3e3;background:#ffffff;}.seva-form[data-uid="6e45af3007"] [data-group="dropdown"] select:focus{outline:none;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"]{text-align:left;margin-bottom:20px;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"]{margin-bottom:10px;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] *{cursor:pointer;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"]:last-of-type{margin-bottom:0;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] input[type="checkbox"]{display:none;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] input[type="checkbox"] + label::after{content:none;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] input[type="checkbox"]:checked + label::after{border-color:#ffffff;content:"";}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] input[type="checkbox"]:checked + label::before{background:#10bf7a;border-color:#10bf7a;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label{position:relative;display:inline-block;padding-left:28px;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label::before,.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label::after{position:absolute;content:"";display:inline-block;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label::before{height:16px;width:16px;border:1px solid #e3e3e3;background:#ffffff;left:0px;top:3px;}.seva-form[data-uid="6e45af3007"] [data-group="checkboxes"] [data-group="checkbox"] label::after{height:4px;width:8px;border-left:2px solid #4d4d4d;border-bottom:2px solid #4d4d4d;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);left:4px;top:8px;}.seva-form[data-uid="6e45af3007"] [data-group="alert"]{padding:12px;border:1px solid #e3e3e3;background:#f9fafb;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;border-radius:5px;margin:25px auto;text-align:center;width:80%;}.seva-form[data-uid="6e45af3007"] [data-group="alert"]:empty{display:none;}.seva-form[data-uid="6e45af3007"] [data-group="alert"][data-element="success"]{background:#d3fbeb;border-color:#10bf7a;color:#0c905c;}.seva-form[data-uid="6e45af3007"] [data-group="alert"][data-element="errors"]{background:#fde8e2;border-color:#f2643b;color:#ea4110;} .seva-form[data-uid="6e45af3007"]{box-shadow:0 2px 15px 0 rgba(210,214,220,0.5);max-width: 100%;overflow:hidden;}.seva-form[data-uid="6e45af3007"] [data-style="full"]{width:100%;display:grid;grid-template-columns:repeat(auto-fit,minmax(300px,1fr));}.seva-form[data-uid="6e45af3007"] [data-style="full"] [data-element="errors"]{width:100%;}.seva-form[data-uid="6e45af3007"] [data-element="header"]{margin-top:0;margin-bottom:27px;}.seva-form[data-uid="6e45af3007"] [data-element="subheader"]{margin:18px 0;}.seva-form[data-uid="6e45af3007"] [data-element="guarantee"]{font-size:13px;}.seva-form[data-uid="6e45af3007"] [data-element="fields"] > *{margin:0 0 15px 0;}.seva-form[data-uid="6e45af3007"] [data-element="fields"] > input{width:100%;}.seva-form[data-uid="6e45af3007"] [data-element="powered-by"]{color:#7d7d7d;display:block;font-size:12px;margin-bottom:0;}.seva-form[data-uid="6e45af3007"] [data-element="powered-by"][data-active="false"]{opacity:0.5;}.seva-form[data-uid="6e45af3007"] [data-element="column"]{background-size:cover;background-repeat:no-repeat;background-position:center;padding:40px;}.seva-form[data-uid="6e45af3007"] [data-element="column"]:nth-child(2){border-top:1px solid #e9ecef;}.seva-form[data-uid="6e45af3007"] [data-element="submit"]{width:100%;}.seva-form[data-uid="6e45af3007"][min-width~="600"] [data-style="full"] [data-element="submit"],.seva-form[data-uid="6e45af3007"][min-width~="700"] [data-style="full"] [data-element="submit"],.seva-form[data-uid="6e45af3007"][min-width~="800"] [data-style="full"] [data-element="submit"]{width:auto;}.seva-form[data-uid="6e45af3007"][min-width~="600"] [data-style="full"] [data-element="column"]:nth-child(2),.seva-form[data-uid="6e45af3007"][min-width~="700"] [data-style="full"] [data-element="column"]:nth-child(2),.seva-form[data-uid="6e45af3007"][min-width~="800"] [data-style="full"] [data-element="column"]:nth-child(2){border-top:none;} </style>
        </form>


      </div>
    </div>
  </div>
  
<!--     <script src='https://cdn.shopify.com/s/files/1/2021/3861/files/JQuery2.1.3.js?10885919011670861965'></script> -->
  
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='//cdn.shopify.com/s/files/1/2021/3861/files/bootstrap3.3.7.js?10885919011670861965'></script>

    <script> 

      $(document).ready(function() {

        if($(window).width() < 720){
        	$(".remove-me").remove();
        }
       
        var numItems = $('li.fancyTab').length;

        if (numItems == 12){
          $("li.fancyTab").width('8.3%');
        }
        if (numItems == 11){
          $("li.fancyTab").width('9%');
        }
        if (numItems == 10){
          $("li.fancyTab").width('10%');
        }
        if (numItems == 9){
          $("li.fancyTab").width('11.1%');
        }
        if (numItems == 8){
          $("li.fancyTab").width('12.5%');
        }
        if (numItems == 7){
          $("li.fancyTab").width('14.2%');
        }
        if (numItems == 6){
          $("li.fancyTab").width('16.666666666666667%');
        }
        if (numItems == 5){
          $("li.fancyTab").width('20%');
        }
        if (numItems == 4){
          $("li.fancyTab").width('25%');
        }
        if (numItems == 3){
          $("li.fancyTab").width('33.3%');
        }
        if (numItems == 2){
          $("li.fancyTab").width('50%');
        }
      });


      $(function() {
        $(".expand").on( "click", function() {
          // $(this).next().slideToggle(200);
          $expand = $(this).find(">:first-child");

          if($expand.text() == "+") {
            $expand.text("-");
          } else {
            $expand.text("+");
          }
        });
      });



    </script>


    <script type="text/javascript">


      /*Ratings*/
      !function(t){function a(a,r){t('.raterater-input[data-id="'+a+'"]').data("input").val(r).change()}function r(){g.each(function(){var a=t(this);if(p.mode==u&&("INPUT"==a.prop("tagName")||"SELECT"==a.prop("tagName"))){var r="input-"+y++,e=t('<div class="raterater-input"></div>').attr("data-id",r).attr("data-rating",a.val()).data("input",a);a.attr("data-id",r).attr("data-id",r).attr("data-rating",a.val()).data("input",a).after(e).hide(),l=a=e}l=a;var s=c(a);if(!s)throw"Error: Each raterater element needs a unique data-id attribute.";f[s]={state:"inactive",stars:null},"static"===a.css("position")&&a.css("position","relative"),a.addClass("raterater-wrapper"),a.html(""),t.each(["bg","hover","rating","outline","cover"],function(){a.append(' <div class="raterater-layer raterater-'+this+'-layer"></div>')});for(var n=0;n<p.numStars;n++)a.children(".raterater-bg-layer").first().append('<i class="fa fa-star"></i>'),a.children(".raterater-outline-layer").first().append('<i class="fa fa-star-o"></i>'),a.children(".raterater-hover-layer").first().append('<i class="fa fa-star"></i>'),a.children(".raterater-rating-layer").first().append('<i class="fa fa-star"></i>');p.isStatic||(a.find(".raterater-cover-layer").hover(o,h),a.find(".raterater-cover-layer").mousemove(d),a.find(".raterater-cover-layer").click(i))})}function e(){g.each(function(){var a;a=p.mode==u?t(this).parent().find('.raterater-input[data-id="'+c(this)+'"]'):t(this);var r=(c(a),p.width+"px"),e=Math.floor(p.starWidth/p.starAspect)+"px";a.css("width",r).css("height",e),a.find(".raterater-layer").each(function(){t(this).css("width",r).css("height",e)});for(var i=0;i<p.numStars;i++)t.each(["bg","hover","rating","outline"],function(){a.children(".raterater-"+this+"-layer").first().children("i").eq(i).css("left",i*(p.starWidth+p.spaceWidth)+"px").css("font-size",Math.floor(p.starWidth/p.starAspect)+"px")});var s=parseFloat(a.attr("data-rating")),d=Math.floor(s),o=s-d;n(a.find(".raterater-rating-layer").first(),d,o)})}function i(r){var e=t(r.target).parent(),i=c(e),s=f[i].whole_stars_hover+f[i].partial_star_hover;s=Math.round(100*s)/100,f[i].state="rated",f[i].stars=s,e.find(".raterater-hover-layer").addClass("rated"),"input"!=p.mode&&void 0!==window[p.submitFunction]&&"function"==typeof window[p.submitFunction]?window[p.submitFunction](i,s):a(i,s)}function s(t,a){var r=Math.floor(t/(p.starWidth+p.spaceWidth)),e=t-r*(p.starWidth+p.spaceWidth);if(e>p.starWidth&&(e=p.starWidth),e/=p.starWidth,p.step!==!1){var i=1/p.step;e=Math.round(e*i)/i}f[a].whole_stars_hover=r,f[a].partial_star_hover=e}function n(t,a,r){for(var e=(c(t.parent()),0);a>e;e++)t.find("i").eq(e).css("width",p.starWidth+"px");t.find("i").eq(a).css("width",p.starWidth*r+"px");for(var e=a+1;e<p.numStars;e++)t.find("i").eq(e).css("width","0px")}function d(a){var r=c(t(a.target).parent());if("hover"===f[r].state){var e=a.offsetX;void 0===e&&(e=a.pageX-t(a.target).offset().left),f[r].stars=s(e,r);var i=t(a.target).parent().children(".raterater-hover-layer").first();n(i,f[r].whole_stars_hover,f[r].partial_star_hover)}}function o(a){var r=c(t(a.target).parent());("rated"!==f[r].state||p.allowChange)&&(f[r].state="hover",t(a.target).parent().children(".raterater-rating-layer").first().css("display","none"),t(a.target).parent().children(".raterater-hover-layer").first().css("display","block"))}function h(a){var r=t(a.target).parent(),e=c(r);if(t(a.target).parent().children(".raterater-hover-layer").first().css("display","none"),t(a.target).parent().children(".raterater-rating-layer").first().css("display","block"),"rated"===f[e].state){var i=parseFloat(f[e].stars),s=Math.floor(i),d=i-s;return void n(r.find(".raterater-rating-layer").first(),s,d)}f[e].state="inactive"}function c(a){return t(a).attr("data-id")}var l,f={},p={},u="input",v="callback",g=null,y=0;t.fn.raterater=function(a){if(t.fn.raterater.defaults={submitFunction:"",allowChange:!1,starWidth:20,spaceWidth:5,numStars:5,isStatic:!1,mode:v,step:!1},p=t.extend({},t.fn.raterater.defaults,a),p.width=p.numStars*(p.starWidth+p.spaceWidth),p.starAspect=.9226,p.step!==!1&&(p.step=parseFloat(p.step),p.step<=0||p.step>1))throw"Error: step must be between 0 and 1";return g=this,r(),e(),this}}(jQuery);

      $(document).ready(function() {
        $('.ratebox').raterater({ 
          submitFunction: 'rateAlert',
          allowChange: false,
          starWidth: 15,
          spaceWidth: 2,
          numStars: 5
        });

      });


    </script>
  
  
<script type="text/javascript">
  
$(document).ready(function() {
  var showChar = {{section.settings.showCharLength}} * 10;
  var ellipsestext = " ... ";
  var moretext = " Read more";
  var lesstext = "  Close";
  $('.more').each(function() {
    var content = $(this).html();

    if(content.length > showChar) {

      var c = content.substr(0, showChar);
      var h = content.substr(showChar-1, content.length - showChar);

      var html = c + '<span class="moreellipses">' + ellipsestext+ '</span><span class="morecontent"><span>' + h + '</span><a href="" class="morelink">' + moretext + '</a></span>';

      $(this).html(html);
    }

  });

  $(".morelink").click(function(){
    if($(this).hasClass("less")) {
      $(this).removeClass("less");
      $(this).html(moretext);
    } else {
      $(this).addClass("less");
      $(this).html(lesstext);
    }
    $(this).parent().prev().toggle();
    $(this).prev().toggle();
    return false;
  });
});


  
</script>
	
  
  {% assign image_size = '400x400' %}  
  	{% for block in section.blocks %}
      {% if block.type == 'product_description' %}
  		{% assign item_icon_1 = block.settings.item_icon_1 %} 
  		{% assign item_1 = block.settings.item_1 %}
  		{% assign item_icon_2 = block.settings.item_icon_2 %} 
  		{% assign item_2 = block.settings.item_2 %}
  		{% assign item_icon_3 = block.settings.item_icon_3 %} 
  		{% assign item_3 = block.settings.item_3 %}  		
  		{% assign item_icon_4 = block.settings.item_icon_4 %} 
  		{% assign item_4 = block.settings.item_4 %}
  		{% assign item_icon_5 = block.settings.item_icon_5 %} 
  		{% assign item_5 = block.settings.item_5 %}
  		{% assign item_icon_6 = block.settings.item_icon_6 %} 
  		{% assign item_6 = block.settings.item_6 %}
  		{% assign item_icon_7 = block.settings.item_icon_7 %} 
  		{% assign item_7 = block.settings.item_7 %}
  		{% assign item_icon_8 = block.settings.item_icon_8 %} 
  		{% assign item_8 = block.settings.item_8 %}  		
  		{% assign item_icon_9 = block.settings.item_icon_9 %} 
  		{% assign item_9 = block.settings.item_9 %}
  		{% assign item_icon_10 = block.settings.item_icon_10 %} 
  		{% assign item_10 = block.settings.item_10 %}
  			
  
 		{% assign fruits = "orange,apple,peach" | split: ',' %}
          <script> 
            function description_{{forloop.index0 }}() {
              
              var package_title = "{{block.settings.product_title}}";
              var numberOfItems = {{block.settings.numberOfItems}};
              
			  var item_icons = new Array("{{item_icon_1 | img_url: image_size}}", "{{item_icon_2 | img_url: image_size}}", "{{item_icon_3 | img_url: image_size}}","{{item_icon_4 | img_url: image_size}}","{{item_icon_5 | img_url: image_size}}",
                                    "{{item_icon_6 | img_url: image_size}}", "{{item_icon_7 | img_url: image_size}}", "{{item_icon_8 | img_url: image_size}}","{{item_icon_9 | img_url: image_size}}","{{item_icon_10 | img_url: image_size}}");
                                    
                                    
              var items = new Array("{{item_1}}", "{{item_2}}", "{{item_3}}","{{item_4}}","{{item_5}}",
                                    "{{item_6}}", "{{item_7}}", "{{item_8}}","{{item_9}}","{{item_10}}");
                                                            
              var description_content = "";  
                                         
              for(i = 0; i < numberOfItems ; i++ ) { 
                
                	//description_content += '<div  class="col-md-6 col-sm-6 col-xs-12"><p align="left"> <img src="'+ item_icons[i] +'" height="80" width="80"> &nbsp\;&nbsp\;<span>' + items[i] + '</span></p></div>';                    
                 
                                
					description_content += '<div class="col-md-4 col-sm-6 col-xs-12"><img src='+ item_icons[i] +' width="100%"><p align="center">' + items[i] + '</p></div>';
              }
              
              document.getElementById("description").innerHTML = description_content;
 
            }
            
          </script>

        <script>
          // This part fixed that the products showing on package tab
          // Variant value may needs to be changed when the product changes.
          
          var url = document.URL;
          var variant = url.split("=");
 
          if(variant[1] == '12129468842092'){
            window.onload = description_1;  
          }else{
            window.onload = description_0;  
          }
          
        </script>
  
      {% endif %}
	{% endfor %} 	


  
    {% schema %}
    {
    "name": "Tab",
    "settings": [
     	{
  			"type":      "range",
            "id":        "showCharLength",
            "min":       1,
            "max":       100,
  			"unit": 	 "px",
            "step":      1,
            "label":     "set value for showChar (value * 10 characters )",
            "default":   1
  		},
       	{
  			"type":      "range",
            "id":        "reviewFontSize",
            "min":       1,
            "max":       40,
  			"unit": 	 "px",
            "step":      1,
            "label":     "Font size for review content (Desktop Only)",
            "default":   1
  		}
  	],
    "blocks": [
      {
        "type": "icon",
        "name": "feature",
        "settings": [
          {
            "type": "image_picker",
            "id": "avatar",
            "label": "Avatar (40x40)"
          },
          {
            "type": "text",
            "id": "avatar_text",
            "label": "content"
          }
          ]
      },  
      {
        "type": "block-2",
        "name": "review",
        "settings": [
  		  {
            "type": "image_picker",
            "id": "avatar_icon",
            "label": "avatar (40x40)"
          },
          {
            "type": "text",
            "id": "review_content",
            "label": "content"
          },
  
  		  {
            "type": "text",
            "id": "review_author",
            "label": "author"
          },
  	  	  {
            "type": "text",
            "id": "date",
            "label": "date"
          }
      	]
      },
      {
        "type": "block-3",
        "name": "faq",
        "settings": [
          {
            "type": "text",
            "id": "faq_trigger",
            "label": "add a number to define the trigger (no whitespace!)"
          },
          {
            "type": "text",
            "id": "faq_question",
            "label": "question"
          },
          {
            "type": "text",
            "id": "faq_answer",
            "label": "answer"
          }
      	]
      },
  	  {
        "type": "product_description",
        "name": "Package(DoNotMove)",
        "settings": [
          {
          "type": "text",
          "id": "product_title",
          "label": "Title (NotAvailable)"
          },
          {
            "type":      "range",
            "id":        "numberOfItems",
            "min":       1,
            "max":        10,
            "step":       1,
            "label":     "number of items",
            "default":   1
        },
  		  {
            "type": "image_picker",
            "id": "item_icon_1",
            "label": "icon 1 (80x80)"
          },
          {
          "type": "text",
          "id": "item_1",
          "label": "Description 1"
          },
  		  {
            "type": "image_picker",
            "id": "item_icon_2",
            "label": "icon 2"
          },
          {
          "type": "text",
          "id": "item_2",
          "label": "Description 2"
          },
  		  {
            "type": "image_picker",
            "id": "item_icon_3",
            "label": "icon 3"
          },
          {
          "type": "text",
          "id": "item_3",
          "label": "Description 3"
          },
  		  {
            "type": "image_picker",
            "id": "item_icon_4",
            "label": "icon 4"
          },
          {
          "type": "text",
          "id": "item_4",
          "label": "Description 4"
          },
  		  {
            "type": "image_picker",
            "id": "item_icon_5",
            "label": "icon 5"
          },
          {
          "type": "text",
          "id": "item_5",
          "label": "Description 5"
          },
  		  {
            "type": "image_picker",
            "id": "item_icon_6",
            "label": "icon 6"
          },
          {
          "type": "text",
          "id": "item_6",
          "label": "Description 6"
          },
  		  {
            "type": "image_picker",
            "id": "item_icon_7",
            "label": "icon 7"
          },
          {
          "type": "text",
          "id": "item_7",
          "label": "Description 7"
          },
  		  {
            "type": "image_picker",
            "id": "item_icon_8",
            "label": "icon 8"
          },
          {
          "type": "text",
          "id": "item_8",
          "label": "Description 8"
          },
  		  {
            "type": "image_picker",
            "id": "item_icon_9",
            "label": "icon 9"
          },
          {
          "type": "text",
          "id": "item_9",
          "label": "Description 9"
          },
  		  {
            "type": "image_picker",
            "id": "item_icon_10",
            "label": "icon 10"
          },
          {
          "type": "text",
          "id": "item_10",
          "label": "Description 10"
          }
  	
  	
        ]
      }

    ]

    }
    {% endschema %}

    {% stylesheet %}
    {% endstylesheet %}

    {% javascript %}
    {% endjavascript %}
